<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <%= stylesheet_link_tag "hack-0.5.0" %>
    <%= stylesheet_link_tag :digest_mailer %>
  </head>
  <body>
    <div class="container digest-mailer">
      <h1>findshow</h1>

      <div class="shows">
        <h2>Upcoming Shows</h2>
        <% if @digest.upcoming_events.present? %>
          <%= render "events/table", events: @digest.upcoming_events %>
        <% else %>
          <p>No upcoming shows this week :(</p>
        <% end %>
      </div>

      <div class="shows">
        <h2>New Shows</h2>
        <% if @digest.new_events.present? %>
          <%= render "events/table", events: @digest.new_events %>
        <% else %>
          <p>No new shows this week. Try following more artists!</p>
        <% end %>
      </div>

      <p>
        <%= link_to "Settings", current_user_url %>
        <%= link_to "Unsubscribe", unsubscribe_user_url(@digest.user.hashed_id) %>
      </p>
    </div>
  </body>
</html>
