<!DOCTYPE html>
<html>
  <head>
    <title>FindShow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <div class="grid">
          <div class="cell -6of12">
            <h1><%= link_to "findshow", root_url %></h1>
          </div>
          <div class="cell -6of12">
            <%= link_to image_tag("iconmonstr-menu-1.svg", class: "settings"), current_user_path %>
          </div>
        </div>
      </header>

      <div class="grid">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
